:host
    display: flex
    flex-direction: column
    justify-content: center
    width: 100%

    .container
        width: 50%
        max-width: 1280px
        min-width: 450px
        margin: auto