@import src/styles/_variables.sass

:host
    display: flex
    align-items: center
    justify-content: center

    .search-results
        width: 50%
        max-width: map-get($custom-width, max-view)

