@import src/styles/_variables.sass

:host
    align-items: center
    justify-content: center

    .search-results
        max-width: $custom-width
        margin-bottom: 1rem
        border-radius: 4px
        padding: 4px
        background-color: $ml-white
