@import 'src/styles/_variables'

:host 
  display: flex

  .header-container
    width: 100%
    display: flex
    justify-content: center
    align-items: center
    background-color: map-get($custom-colors, yellow-background)

    .search-bar
      width: 50%
      max-width: map-get($custom-width, max-view)
      min-width: 865px


  @media (max-width: 865px) 
    .header-container
      width: auto
      padding: 0 1rem

