.container
    display: flex
    flex-direction: row
    background-color: #ffffff

    .details
        display: flex
        flex-direction: column

        p
            white-space: pre-wrap

    .buying